In [3]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.1.1-cp310-cp310-macosx_11_0_arm64.whl (10.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.9/10.9 MB 1.9 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Collecting numpy>=1.22.4 (from pandas)
  Using cached numpy-1.26.0-cp310-cp310-macosx_11_0_arm64.whl (14.0 MB)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/owenyi/Library/Python/3.10/lib/python/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 502.5/502.5 kB 2.4 MB/s eta 0:00:00[31m2.5 MB/s eta 0:00:01
Collecting tzdata>=2022.1 (from pandas)
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Requirement already satisfied: six>=1.5 in /Users/owenyi/Library/Python/3.10/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.0 pandas-2.1.1 pytz-2023.3.post1 tzdata-2023.3

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: pip install --upgrade pip

In [4]:
import pandas as pd

In [15]:
pd.read_csv("../../Data/Merged Data.csv")

,Date,CPI: Food and non-alcoholic beverages,CPI: Bread and cereal products,CPI: Bread,CPI: Cakes and biscuits,CPI: Breakfast cereals,CPI: Other cereal products,CPI: Dairy and related products,CPI: Milk,CPI: Cheese,...,ABARES: Wool - Received (Index),Cycle,Rainfall (mm),Temperature (°C),NINO1+2_sst,NINO3_sst,NINO3.4_sst,NINO4_sst,EPAC_mslp,INDO_mslp
0,1989-09-01,50.0,46.2,39.8,49.4,59.1,55.8,48.7,50.2,47.8,...,64.16,Neutral,2.2,20.6,19.846560,24.532503,26.195408,28.100603,101240.570,101010.836
1,1989-12-01,50.2,47.0,40.8,50.0,60.8,55.9,50.0,51.1,50.1,...,64.16,Neutral,141.6,25.5,22.288567,24.680600,26.389977,28.290264,101309.360,101058.210
2,1990-03-01,50.3,48.1,41.6,51.2,62.5,56.9,51.1,51.9,51.9,...,48.89,Neutral,139.1,25.0,25.958345,26.613470,27.003372,28.351545,101026.580,101112.830
3,1990-06-01,51.7,49.2,42.2,53.2,62.6,57.1,52.0,52.5,53.6,...,48.89,Neutral,42.0,17.3,22.761976,26.391634,27.393520,28.632149,101127.120,100958.664
4,1990-09-01,51.3,49.6,42.6,53.3,64.7,57.7,52.0,53.0,53.0,...,48.89,Neutral,202.1,19.1,20.076635,24.922900,26.659695,28.754267,101253.984,101045.830
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,2022-06-01,120.6,109.0,109.7,110.6,102.1,106.6,110.3,112.4,113.8,...,NaN,NaN,NaN,NaN,21.767988,25.960657,27.005810,28.246430,101280.510,100881.090
132,2022-09-01,124.5,112.7,112.9,114.4,106.7,110.3,117.8,124.4,119.0,...,NaN,NaN,NaN,NaN,19.662935,24.076350,25.764645,27.607117,101349.390,100977.030
133,2022-12-01,125.6,116.5,116.7,118.8,109.9,112.8,122.8,128.0,126.6,...,NaN,NaN,NaN,NaN,22.548437,24.387943,25.729197,27.654505,101190.555,100809.410
134,2023-03-01,127.6,118.2,118.9,120.4,109.5,115.0,125.1,129.5,130.8,...,NaN,NaN,NaN,NaN,28.007841,27.493650,27.163530,28.056648,101088.100,100989.086
135,2023-06-01,129.7,121.6,125.1,122.4,110.6,116.2,127.1,129.6,132.4,...,NaN,NaN,NaN,NaN,25.930082,27.854990,28.600351,29.492365,101111.990,100955.016